<%= form_for(@bill) do |f| %>
  <% if @bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% @bill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :client %><br>
    <%= f.hidden_field :client_id, :value => "#{@bill.client.id}" %>
    <%= @bill.client %>
  </div>

  <div class="field">
    <%= f.label :concept %><br>
    <%= f.text_field :concept %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :invoice_date %><br>
    <%= f.date_select(:invoice_date,  start_year: 1990, end_year: Date.today.year, order: [:day, :month, :year]) %>
  </div>
  <div class="field">
    <%= f.label :person_id %><br>
    <%= f.select(:person_id, Person.all.collect {|x| [ x.name, x.id ] }, {prompt: 'Select Person'}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
