<p id="notice"><%= notice %></p>

<h1> <%= t "crud.listing_bills" %></h1>

<table class="table">
  <thead>
    <tr>
      <th> <%= t :concept %></th>
      <th> <%= t :amount %></th>
      <th> <%= t :invoice_date %></th>
      <th> <%= t :person %></th>
      <th> <%= t :client %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.concept %></td>
        <td><%= number_to_currency  bill.amount %></td>
        <td><%= l bill.invoice_date %></td>
        <td><%= bill.person %></td>
        <td><%= bill.client %></td>
        <td><%= link_to t(:show), client_bill_path(bill.client, bill) %></td>
        <td><%= link_to t(:edit), edit_client_bill_path(bill.client, bill) %></td>
        <td><%= link_to t(:destroy), bill, method: :delete, data: { confirm: (t :delete_confirm) } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(:home), controller: "welcome" %>
