<p id="notice"><%= notice %></p>

<h1>Listing Bills</h1>

<table class="table">
  <thead>
    <tr>
      <th>Concept</th>
      <th>Amount</th>
      <th>Invoice date</th>
      <th>Person</th>
      <th>Client</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.concept %></td>
        <td><%= bill.amount %></td>
        <td><%= bill.invoice_date %></td>
        <td><%= bill.person %></td>
        <td><%= bill.client %></td>
        <td><%= link_to t(:show), client_bill_path(bill.client, bill) %></td>
        <td><%= link_to t(:edit), edit_client_bill_path(bill.client, bill) %></td>
        <td><%= link_to t(:destroy), bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Inicio', controller: "welcome" %>
