<p id="notice"><%= notice %></p>

<p>
  <strong>Concepto:</strong>
  <%= @bill.concept %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @bill.amount %>
</p>

<p>
  <strong>Fecha emision:</strong>
  <%= @bill.invoice_date %>
</p>

<p>
  <strong>Person:</strong>
  <%= @bill.person %>
</p>

<p>
  <strong>Client:</strong>
  <%= @bill.client %>
</p>


<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path unless @from_client %>
<%= link_to 'Back', clients_path if @from_client %>
