<p id="notice"><%= notice %></p>

<p>
  <strong> <%= t :concept %>:</strong>
  <%= @bill.concept %>
</p>

<p>
  <strong> <%= t :amount %>:</strong>
  <%= number_to_currency @bill.amount %>
</p>

<p>
  <strong> <%= t :invoice_date %>:</strong>
  <%= @bill.invoice_date %>
</p>

<p>
  <strong> <%= t :cuil_cuit %>:</strong>
  <%= @bill.person.cuil_cuit %>
</p>
<p>
  <strong> <%= t :name %>/ <%= t :business_name %> :</strong>
  <%= @bill.person.name %>
</p>

<p>
  <strong> <%= t :client %>:</strong>
  <%= @bill.client %>
</p>


<%= link_to t(:edit), edit_client_bill_path(@bill.client, @bill) %></td>
<%= link_to t(:back), bills_path unless @from_client %>
<%= link_to t(:back), clients_path if @from_client %>
