<p id="notice"><%= notice %></p>

<p>
  <strong> <%= t :legal %>:</strong>
  <%= @person.legal %>
</p>

<p>
  <strong> <%= t :name %>:</strong>
  <%= @person.name %>
</p>

<p>
  <strong> <%= t :cuil_cuit %>:</strong>
  <%= @person.cuil_cuit %>
</p>

<%= link_to t(:edit), edit_person_path(@person) %> |
<%= link_to t(:back), people_path %>
