<p id="notice"><%= notice %></p>

<p>
  <strong>Juridica:</strong>
  <%= @person.juridica %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @person.nombre %>
</p>

<p>
  <strong>Cuil cuit:</strong>
  <%= @person.cuil_cuit %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
