<p id="notice"><%= notice %></p>

<h1>Listing Clients</h1>

<table class="table">
  <thead>
    <tr>
      <th><%= t :cuil_cuit %></th>
      <th><%= t :dni %></th>
      <th><%= t :gender%></th>
      <th><%= t :name %></th>
      <th><%= t :surname%></th>
      <th><%= t :birth_date%></th>
      <th><%= t :telephone%></th>
      <th><%= t :email%></th>
      <th>Skype</th>
      <th colspan="3"><%= t :actions %></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.cuil_cuit %></td>
        <td><%= client.dni %></td>
        <td><%= client.gender%></td>
        <td><%= client.name %></td>
        <td><%= client.surname %></td>
        <td><%= client.birth_date %></td>
        <td><%= client.telephone %></td>
        <td><%= client.email %></td>
        <td><%= client.skype %></td>
        <td><%= link_to 'New Bill', new_client_bill_path(client) %></td>
        <td><%= link_to t(:show), client %></td>
        <td><%= link_to t(:edit), edit_client_path(client) %></td>
        <td><%= link_to t(:destroy), client, method: :delete, data: { confirm: (t :delete_confirm) } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= t :hola %>
<%= link_to 'New Client', new_client_path %>
<%= link_to 'Inicio', controller: "welcome" %>
