<p id="notice"><%= notice %></p>

<h1>Listing Clients</h1>

<table class="table">
  <thead>
    <tr>
      <th>Cuil cuit</th>
      <th>Dni</th>
      <th>Genero</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Fecha nacimiento</th>
      <th>Telefono</th>
      <th>Email</th>
      <th>Skype</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.cuil_cuit %></td>
        <td><%= client.dni %></td>
        <td><%= client.genero %></td>
        <td><%= client.nombre %></td>
        <td><%= client.apellido %></td>
        <td><%= client.fecha_nacimiento %></td>
        <td><%= client.telefono %></td>
        <td><%= client.email %></td>
        <td><%= client.skype %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_client_path %>
<%= link_to 'Inicio', controller: "welcome" %>
<!--link_to "Profile", controller: "profiles", action: "show", id: @profile-->
