<p id="notice"><%= notice %></p>

<h1>Listing Clients</h1>

<table class="table">
  <thead>
    <tr>
      <th>Cuil cuit</th>
      <th>Dni</th>
      <th>Gender</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Birth date</th>
      <th>Telephone</th>
      <th>Email</th>
      <th>Skype</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.cuil_cuit %></td>
        <td><%= client.dni %></td>
        <td><%= client.gender%></td>
        <td><%= client.name %></td>
        <td><%= client.surname %></td>
        <td><%= client.birth_date %></td>
        <td><%= client.telephone %></td>
        <td><%= client.email %></td>
        <td><%= client.skype %></td>
        <td><%= link_to 'New Bill', new_bill_for_client_path(client) %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_client_path %>
<%= link_to 'Inicio', controller: "welcome" %>
