<p id="notice"><%= notice %></p>

<p>
  <strong><%= t :cuil_cuit %>:</strong>
  <%= @client.cuil_cuit %>
</p>

<p>
  <strong><%= t :dni %>:</strong>
  <%= @client.dni %>
</p>

<p>
  <strong><%= t :gender %>:</strong>
  <%= @client.gender %>
</p>

<p>
  <strong><%=t :name%>:</strong>
  <%= @client.name %>
</p>

<p>

  <strong><%= t :surname %>:</strong>
  <%= @client.surname %>
</p>

<p>
  <strong> <%= t :birth_date %>:</strong>
  <%= l @client.birth_date %>
</p>

<div>
    <strong><%= t :contacts %></strong>
    <div style="width:25%">
    <table class="table" id="contacts">
      <thead>
        <tr>
          <th> <%= t :type %> </th>
          <th> <%= t :value %> </th>
        </tr>
      </thead>

      <tbody>
        <% @client.contacts.each  do |c| %>
          <tr>
            <td><%= t (c.type.downcase) %></td>
            <td><%= c.value %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
</div>





<p>
  <strong> <%= t :age %> :</strong>
  <%= @client.age %>
</p>

<div>
  <strong><%= t :amount_by_year %></strong>
  <% @client.amount_by_year.each do |fila| %>
    <p><%=t :message_amount_by_year, month: fila[0], amount:(number_to_currency fila[1])%></p>
  <% end %>
  <p></p>
</div>

<div>
    <strong><%= t :montly_this_year %></strong>
    <div style="width:25%">
    <table class="table">
      <thead>
        <tr>
          <th> <%= t :month %> </th>
          <th> <%= t :quantity %> </th>
        </tr>
      </thead>

      <tbody>
        <% (1..12).each  do |month_number| %>
          <tr>
            <td><%= t("date.month_names")[month_number] %></td>
            <td><%= @client.montly_this_year[month_number] || 0 %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
</div>

<div>
    <strong><%= t :top_five_person %></strong>
    <div style="width:25%">
    <table class="table">
      <thead>
        <tr>
          <th> <%= t :name %></th>
        </tr>
      </thead>

      <tbody>
        <% @client.top_five_person.each  do |person| %>
          <tr>
            <td><%= person.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
</div>






<%= link_to t(:edit), edit_client_path(@client) %> |
<%= link_to t(:back), clients_path %>
