<p id="notice"><%= notice %></p>

<p>
  <strong>Cuil cuit:</strong>
  <%= @client.cuil_cuit %>
</p>

<p>
  <strong>Dni:</strong>
  <%= @client.dni %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @client.gender %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @client.surname %>
</p>

<p>
  <strong>Fecha nacimiento:</strong>
  <%= @client.birth_date %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @client.telephone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Skype:</strong>
  <%= @client.skype %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @client.age %>
</p>

<div>
  <strong><%= "Facturado por año" %></strong>
  <% @client.amount_by_year.each do |fila| %>
    <p> <%= "En #{fila[0]} facturó $#{fila[1]}"  %> </p>
  <% end %>
</div>

<div>
    <strong><%= "Cantidad de facturas emitidas por mes" %></strong>
    <div style="width:25%">
    <table class="table">
      <thead>
        <tr>
          <th>Month</th>
          <th>Quantity</th>
        </tr>
      </thead>

      <tbody>
        <% (1..12).each  do |month_number| %>
          <tr>
            <td><%= I18n.t("date.month_names")[month_number] %></td>
            <td><%= @client.montly_this_year[month_number] || 0 %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
</div>

<div>
    <strong><%= "Top five personas" %></strong>
    <div style="width:25%">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>

      <tbody>
        <% @client.top_five_person.each  do |person| %>
          <tr>
            <td><%= person.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
</div>






<%= link_to t(:edit), edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
