<p id="notice"><%= notice %></p>

<p>
  <strong><%= t :cuil_cuit %>:</strong>
  <%= @client.cuil_cuit %>
</p>

<p>
  <strong><%= t :dni %>:</strong>
  <%= @client.dni %>
</p>

<p>
  <strong><%= t :gender %>:</strong>
  <%= @client.gender %>
</p>

<p>
  <strong><%=t :name%>:</strong>
  <%= @client.name %>
</p>

<p>

  <strong><%= t :surname %>:</strong>
  <%= @client.surname %>
</p>

<p>
  <strong> <%= t :birth_date %>:</strong>
  <%= l @client.birth_date %>
</p>

<div>
    <strong><%= t :contacts %></strong>
    <div style="width:25%">
    <table class="table" id="contacts">
      <thead>
        <tr>
          <th> <%= t :type %> </th>
          <th> <%= t :value %> </th>
        </tr>
      </thead>

      <tbody>
        <% @client.contacts.each  do |c| %>
          <tr>
            <td><%= t (c.type.downcase) %></td>
            <td><%= c.value %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
</div>





<p>
  <strong> <%= t :age %> :</strong>
  <%= @client.age %>
</p>

<div>
  <%= render 'amount_by_year', :c => @client%>
</div>

<div>
    <%= render 'montly_this_year', :c => @client %>
</div>

<div>
    <%= render 'top_five_person', :c => @client %>
</div>






<%= link_to t(:edit), edit_client_path(@client) %> |
<%= link_to t(:back), clients_path %>
